.container
  max-width: 1024px
  margin: 0 auto
  padding: 0 42px
  &-darkGreen
    background-color: $darkGreen
  &-lightGreen
    background-color: $lightGreen
  +pad
    padding: 0

.flex-col
  flex-direction: column

.flex
  display: flex

.flex-center
  display: flex
  justify-content: center
  align-items: center

.flex-sb
  display: flex
  justify-content: space-between

.flex-sb-center
  display: flex
  justify-content: space-between
  align-items: center

.flex-sb-end
  display: flex
  justify-content: space-between
  align-items: flex-end

.flex-end-center
  display: flex
  justify-content: flex-end
  align-items: center
